
/*整个页面*/
.el-container{
    padding: 0;
    margin: 0;
    height: 100%;
}
/*顶栏*/
.header-avatar{
    float: right;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*  下拉菜单*/
.el-dropdown-link {
    cursor: pointer;
    color: #ffffff;
}
/*下拉箭头*/
.el-icon-arrow-down {
    font-size: 12px;
}
/*边栏*/
.el-menu-vertical-demo{
    height: 100%;
}
/*页面整体布局*/
.el-header, .el-footer {
    background-color:  #17B3A3;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: #545c64;
    color: #545c64;
    text-align: left;
    line-height: 200px;
    height: 100%;
    width: 220px
}

.el-main {
    padding: 0;
    background-color: #ffffff;
    color: #333;
    /*text-align: center;*/
    /*line-height: 40px;*/
}

a{
    text-decoration: none;
    color: grey;
}

a:hover{
    color: #66B1FF;
}